body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Cinzel', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10PX;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted 7px;
  border-bottom: none;
  color: #EAF6F6;
  width: 10%;
  margin: 100px auto;
}

p {
  line-height: 2;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.middle-container {
  width: 90%;
  margin: 100px auto;

}

.bottom-container {
  background-color:  #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.intro-msg {
  width: 35%;
  margin: auto;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
  color: #EAF6F6;
}

.skills {
  width: 65%;
  margin: auto;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
}

.html-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}



.profile img {
  border-radius: 75%;
  
}

.contact-me {
  
  margin: 100px auto;
}

.contact-explain {
  font-weight: thick;
  width: 75%;
  margin: 40px auto 60px;
}

.copyright-text {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn{
  line-height: 6;
  background-color: #11cdd4;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  padding: 15px 25px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11cdd4), to(#11999e));
  background-image: -o-linear-gradient(#11cdd4, #11999e);
  background-image: linear-gradient(#11cdd4, #11999e);
}

.btn:hover{
  background-color: #30e3cb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30e3cb), to(#2bc4ad));
  background-image: -o-linear-gradient(#30e3cb, #2bc4ad);
  background-image: linear-gradient(#30e3cb, #2bc4ad);
}